KAFKA_BROKERS=system.broker:9092
LOG_LEVEL=error,warn,log,debug
NODE_ENV=development
DATABASE_URL="mongodb://system.mongodb:27017/users-management"
PROFILER=disable
PROFILER_DETAILS=disable
OUTBOX=enable
OUTBOX_INTERVAL_MS=5000
OUTBOX_BATCH_SIZE=10
OUTBOX_MAX_RETRY=10
OUTBOX_KEEP_PROCESSED_COUNT=200
SNAPSHOT=100
